# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist dotfiles
!.gitignore
!.gitignore_global
!.gitconfig

!.zshrc
!.aliases
!.vimrc
!.tmux.conf

!.ssh/
.ssh/*
!.ssh/config

# -----------------------------------------------------------------------------
# Windows
# -----------------------------------------------------------------------------

# WSL
!wsl.conf

# PowerShell - user profile
!Documents/
Documents/*
!Documents/WindowsPowerShell/
Documents/WindowsPowerShell/*
!Documents/WindowsPowerShell/Microsoft.PowerShell_Profile.ps1

# VSCode - settings and keybindings
!AppData/
AppData/*
!AppData/Roaming/
AppData/Roaming/*
!AppData/Roaming/Code/
AppData/Roaming/Code/*
!AppData/Roaming/Code/User/
AppData/Roaming/Code/User/*
!AppData/Roaming/Code/User/settings.json
!AppData/Roaming/Code/User/keybindings.json

# -----------------------------------------------------------------------------
# Mac OS
# -----------------------------------------------------------------------------
!hybrid.itermcolors

# -----------------------------------------------------------------------------
# Miscellaneous
# -----------------------------------------------------------------------------
!composer_install.sh
!.gtkrc-2.0
