# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist dotfiles
!.gitignore
!.gitignore_global
!.gitconfig

!.zshrc
!.aliases
!.vimrc
!.tmux.conf

!.ssh/
.ssh/*
!.ssh/config

# Windows Subsystem for Linux
!wsl.conf

# Windows PowerShell configuration
!Documents/
Documents/*
!Documents/WindowsPowerShell/
Documents/WindowsPowerShell/*
!Documents/WindowsPowerShell/Microsoft.PowerShell_Profile.ps1

# Miscellaneous
!composer_install.sh
!hybrid.itermcolors
!.gtkrc-2.0
