# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist dotfiles
!.gitignore
!.gitignore_global
!.gitconfig

!.zshrc
!.aliases
!.vimrc
!.tmux.conf

!.ssh/
.ssh/*
!.ssh/config

# Vim and Vim plugged
!.vim/
.vim/*
!vim/autoload/plugged.vim

# .local/bin directory for non elevated binary access
!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/.gitignore

# Windows PowerShell configuration
!Documents/
Documents/*
!Documents/WindowsPowerShell/
Documents/WindowsPowerShell/*
!Documents/WindowsPowerShell/Microsoft.PowerShell_Profile.ps1

!wsl.conf

# Miscellaneous
!composer_install.sh
!hybrid.itermcolors
